html
  head
    title Akshay Dance school - #{title}
    block scripts
    block style 
      
  body
    nav#navbar.top  
     ul
      li.active #[a(href ="/") Home]
      li #[a(href="/") About]
      li #[a(href="/contact") Contact US]
      li #[a(href="/") Join US]

    
    
    block content
    footer#foot 
     p Copyright  2023 Akshaydanceschool.com | all right resive
    